body {
  font-family: Verdana, sans-serif;
}
h1 {
  text-align: center;
}
#git-commands {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#git-commands td, #git-commands th {
  border: 1px solid #ddd;
  padding: 8px;
}

#git-commands tr:nth-child(even){background-color: #f2f2f2;}

#git-commands tr:hover {background-color: #ddd;}

#git-commands th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

td:nth-child(1) {
  font-weight: 700;
}
td:nth-child(2) {
  color: rgb(28, 62, 175);
  font-weight: 600;
}

#author {
  text-align: right;
}